@model ML.Cine
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>



<div class="text-center">
    <h1>Cines Registrados</h1>
</div>
<br />
<a class="btn btn-success btn-lg" href="@Url.Action("Form","CinesController1")"><i class="fa-solid fa-hand-holding-medical"></i> Agregar</a>
<hr />


@if (Model.Cines != null)
{
    <!--Tabla-->
    <div class="text-center">
        <div class="table-responsive">
            <table class="table table-primary" id="tablaUsuario">
                <thead>
                    <tr class="navbar-inverse" style="color: #000000;">

                        <th scope="col" class="text-center">Id Cine</th>
                        <th scope="col" class="text-center">Nombre</th>
                        <th scope="col" class="text-center">Direccion</th>
                        <th scope="col" class="text-center">Zona</th>
                        <th scope="col">Ventas</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>

                <tbody class="table-light">
                    @foreach (ML.Cine cine in Model.Cines)
                    {
                        <tr>



                            <td>@cine.IdCine</td>
                            <td>@cine.Nombre</td>
                            <td>@cine.Direccion</td>
                            <td>@cine.Zona.IdZona</td>
                            <td>$@cine.Ventas</td>@* mostrar en doubles  *@


                            <td>
                                <a class="btn btn-danger  " href="@Url.Action("Delete","CinesController1",new {IdCine=cine.IdCine} )" , onclick="return confirm('¿Estas seguro de eliminar este usuario?')"><i class="fa-solid fa-trash" style="color: aliceblue;"></i></a><br />
                                <a class="btn btn-warning " href="@Url.Action("Form", "CinesController1", new {IdCine=cine.IdCine})"><i class="fa-solid fa-pen-to-square" style="color:aliceblue;"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!--Fin tabla-->
}
else
{
    <div class="alert alert-danger" role="alert">
        No se encontraron Cines registrados.Error:@ViewBag.Message
    </div>
}